* {
    margin: 0;
    padding: 0;
}

/* .test{
    display: flex;
} */






.contant {
    display: flex;
    background-color: #a72424;

}

.repos {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 80vh;
    overflow-y: auto;

}

.allUsers {
    display: flex;
    flex-direction: column;
    background-color: rgb(133, 35, 35);


    height: 80vh;
    overflow-y: auto;

}

.liked {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 80vh;
    overflow-y: auto;

}