* {
    margin: 0;
    padding: 0;
}
/* .test{
    display: flex;
} */
.allUsers {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 80vh;
    overflow-y: auto;

}

/* .test {
    height: 100vh;
    overflow-y: auto;
} */


.contant{
    display: flex;

}

.repos {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 80vh;
    overflow-y: auto;

}
.liked {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 80vh;
    overflow-y: auto;

}