

.header{
  color: #7d5bed;
  font-size: 25px;
}

.input{
  display: flex;
  flex-direction: column;
}

.user-input{
  padding: 5px;
  font-size: 15px;

}

.info{
  margin: 1rem;

  border-radius: 10px;
  background-color: #363636;
    border: 2px solid #d6d6d6;
  width: 340px;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 135px;
  min-width: 111px;
  height: auto;
  border-radius: 50%;
}


.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  text-align: center;
}





.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}#7d5bed

.profile-info {
  flex: 1;
}

.profile-link{
  /* font-size: 80px; */
  text-decoration: none;
  color: white;
}


h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 6px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  cursor: pointer;
  background-color: #7d5bed;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darkblue;
}


.repos-list{
  display: flex;
  flex-direction: column;
  background-color: #363636;
  border-radius: 10px;
  width: 80%;
  max-height: 70%;
  /* overflow: auto; */
  color: #d6d6d6;
  font-family: 'Inter', sans-serif;
}
.repohead{
   display: flex;
   justify-content: space-between;
   margin: 10px;
   color: #7d5bed;

}
.repo-data{
  background-color: white;
  background-color: #363636;


  width: 100%;
  max-height: 30%;
  overflow: auto;
  color: #d6d6d6;
  font-family: 'Inter', sans-serif;
}

.repo-data::-webkit-scrollbar {
/* display: none;  */
}

.repo-data ul {
  margin-left:40px ;
}
.repo-data ul li{
  margin-bottom:20px ;
  border: 2px sold black;
  /* width: 20px; */
}
.repo-data ul li h3{
   width: 100%;
}

.repo-link{
  width: 10%;

}
/* .mts{
  width: 20px;
} */

.like-info{
  /* border: 2px solid black; */
  width: 270px;

}